# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Topics/Static members/Detail manufacturing/out/
/Topics/Static members/Detail manufacturing/out/production/classes/